[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/phpDocumentor"]
	path = bundle/phpDocumentor
	url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-lawrencium"]
	path = bundle/vim-lawrencium
	url = https://github.com/ludovicchabant/vim-lawrencium.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
